build/
__pycache__/
*.py[cod]
.mypy_cache
.ruff_cache
.hypothesis
.pytest_cache
.coverage
.python-version
*.egg-info*
dist/
.venv

######
## Custom Section Begin
######
.idea
######
## Custom Section End
######
